
.login-modal {
  width: 500px;
}
.login-modal .tabs, .login .tabs {
  background-color: transparent;
}
.login-modal li :not(.active), .login li :not(.active) {
  background-color: #dddddd;
}

.login {
  background-color: white;
  padding: 20px 0 !important;
}
