
.login-modal {
  padding: 0;
  text-align: left;
  width: 500px;
  z-index: 1001;
}
.login-modal .tabs, .login .tabs {
  background-color: transparent;
}
.login-modal li :not(.active), .page li :not(.active) {
  background-color: #dddddd;
}
