
@media (min-width:1921px) {
  nav {
    height: 110px;
  }
  .forest, .tutorial {
    width: 1920px;
    height: 1080px;
    background: transparent url(#{$images-path}trees-fade-bg-1200.png) no-repeat;
    background-size: 1920px 1080px;
  }
  .tutorial {
    width: 1920px;
    height: 1080px;
    background: transparent url(../images/tutorial-1200.png) no-repeat;
    background-size: 1920px 1080px;
  }

  .traveler-logo
  {
    max-height: 110px;
    width: auto;
    max-width: 110px;
  }
  .plank
  {
    background-size: 184px 130px;
    height: 130px;
    width: 184px;
    opacity: 0;
  }

  .treasure  img {
    width: 451px;
    height: 258px;
  }

  p, h5, ul {
    font-size: 2rem !important;
  }
}


@media (max-width:1199px) {
  nav {
    padding: 0 5%;
  }
  nav ul a, nav a {
    font-size: 1.1rem;
  }

  .forest, .tutorial {
    width: 990px;
    height: 557px;
    background: transparent url(#{$images-path}trees-fade-bg-1200.png) no-repeat;
    background-size: 990px 557px;
  }
  .tutorial {
    width: 990px;
    height: 557px;
    background: transparent url(../images/tutorial-1200.png) no-repeat;
    background-size: 990px 557px;
  }

  .traveler-logo
  {
    max-height: 40px;
    width: auto;
    max-width: 70px;
  }
  .plank
  {
    background-size: 90px 54px;
    height: 54px;
    width: 90px;
    opacity: 0;
  }

  .rotate-cw-90 img {
    height: 52px;
    margin: 40px 0 0 20px;
    width: 100px;
  }
  .page-numbers-large {
    font-size: 6rem;
  }

  .page-title-2 {
    font-size: 4rem;
  }
}

@media (max-width:991px) {
  .forest, .tutorial {
    width: 750px;
    height: 442px;
    background: transparent url(#{$images-path}trees-fade-bg-768.png) no-repeat;
    background-size: 750px 442px;
  }
  .tutorial {
    background: transparent url(../images/tutorial-768.png) no-repeat;
  }
  .traveler-logo
  {
    max-height: 35px;
    width: auto;
    max-width: 50px;
  }
  .plank
  {
    background-size: 80px 57px;
    height: 57px;
    width: 80px;
    opacity: 0;
  }
  .treasure {
    left: 45%;
    opacity: 0;
  }
  .treasure img {
    width: 175px;
    height: 100px;
  }

  .page-title-2 {
    font-size: 3.5rem;
  }
}

@media (max-width: 768px) {
  html, body {
    height: 100%;
    min-height: 100%;
  }
  .bg {
    background: $primary-color url(#{$images-path}green-bg-768.jpg) no-repeat center center fixed;
  }

  nav {
    background: transparent url(#{$images-path}top-bar-sm.png) no-repeat 100% 100%;
    padding: 0;
  }

  .rotate-cw-90 img {
    height: 42px;
    margin: 40px 0 0 20px;
    width: 80px;
  }
  .page-numbers-large {
    font-size: 5rem;
  }

  .page-title-2 {
    font-size: 2.7rem;
  }
  .page-sub-title-2, .page-sub-title-3 {
    font-size: 1.2rem;
  }

  .forest {
    display: none !important;
  }
  .forest-mobile {
    background: $primary-color url(#{$images-path}mobile-bg.jpg) no-repeat center bottom;
    background-size: 100vw 100vh;
    display: block !important;
    margin-top: -56px;
    padding-left: 0;
  }
  .forest-mobile .traveler-logo
  {
    max-height: 90px;
    width: auto;
    max-width: 90px;
  }

}

// Phone landscape
@media (max-width: 768px) and (max-height: 500px) {
  .forest-mobile {
    background: $primary-color url(#{$images-path}mobile-bg-landscape.jpg) no-repeat center bottom;
    background-size: 100vw 100vh;
    overflow: hidden;
    margin-top: -64px;
  }
  .plank-mobile {
    background-size: 140px 99px;
    float: left;
    height: 99px;
    margin: 0 25px 0 30px;
    opacity: 1;
    position: relative;
    width: 140px;
  }
  .plank-mobile.landscape-1 {
    background-size: 90px 64px;
    height: 64px;
    margin: 12% 0 0 6%;
    transform: rotate(4deg);
    width: 90px;
  }
  .landscape-1 .traveler-logo {
    max-height: 60px !important;
    max-width: 60px !important;
  }

  .plank-mobile.landscape-2 {
    background-size: 120px 85px;
    height: 85px;
    margin: 22% 0 0 -4%;
    transform: rotate(-10deg);
    width: 120px;
  }
  .landscape-2 .traveler-logo {
    max-height: 70px !important;
    max-width: 70px !important;
  }

  .plank-mobile.landscape-3 {
    margin: -15% 0 0 55%;
    transform: rotate(-5deg);
  }
  
  .treasure-mobile.landscape {
    height: 150px;
    margin-left: 45px;
    top: 40vh;
    width: 335px;
  }

  #mobile-carousel-home .item {
    margin-top: 0;
  }
}

@media (max-width:600px) {
  .forest-mobile {
    margin-top: -56px;
  }
  .treasure-mobile {
    margin-left: 15vw;
    top: 60vh;
  }
  .treasure-mobile  img {
    width: 300px;
    height: 172px;
  }
}

@media (max-width:456px) {
  .bg {
    background: $primary-color url(#{$images-path}green-bg-480.jpg) no-repeat center center fixed;
    background-size: 480px 1080px;
  }
  .brand-logo img {
    width: 70% !important;
    height: auto;
  }

  .page-title, .page-title-2 {
    font-size: 3rem;
  }

  table {
    border-spacing: 7px;
  }
}
