
@media (max-width:1199px) {
  nav {
    padding: 0 5%;
  }
  nav ul a, nav a {
    font-size: 1.1rem;
  }

  .forest {
    width: 990px;
    height: 557px;
    background: transparent url(#{$images-path}trees-fade-bg-1200.png) no-repeat;
    background-size: 990px 557px;
  }
  .traveler-logo
  {
    max-height: 40px;
    width: auto;
    max-width: 70px;
  }
  .plank
  {
    background-size: 90px 54px;
    height: 54px;
    width: 90px;
    opacity: 0;
  }

  .rotate-cw-90 img {
    height: 52px;
    margin: 40px 0 0 20px;
    width: 100px;
  }
  .page-numbers-large {
    font-size: 6rem;
  }

  .page-title-2 {
    font-size: 4rem;
  }
}

@media (max-width:991px) {
  .forest {
    width: 750px;
    height: 442px;
    background: transparent url(#{$images-path}trees-fade-bg-768.png) no-repeat;
    background-size: 750px 442px;
  }
  .traveler-logo
  {
    max-height: 35px;
    width: auto;
    max-width: 50px;
  }
  .plank
  {
    background-size: 80px 57px;
    height: 57px;
    width: 80px;
    opacity: 0;
  }
  .treasure {
    left: 45%;
    opacity: 0;
  }
  .treasure img {
    width: 175px;
    height: 100px;
  }

  .nav-login {
    margin-top: 8px;
  }
  .caret:before {
    left: 30%;
  }

  .page-title-2 {
    font-size: 3.5rem;
  }
}

@media (max-width: 768px) {
  .home-bg {
    background: url(#{$images-path}mobile-tall-bg.jpg) no-repeat center 0 fixed;
  }

  nav {
    padding: 0;
  }

  .rotate-cw-90 img {
    height: 42px;
    margin: 40px 0 0 20px;
    width: 80px;
  }
  .page-numbers-large {
    font-size: 5rem;
  }

  .page-title-2 {
    font-size: 2.7rem;
  }
  .page-sub-title-2, .page-sub-title-3 {
    font-size: 1.2rem;
  }

  .forest {
    display: none !important;
  }
  .forest-mobile {
    display: block !important;
    padding-left: 0;
  }
  .forest-mobile .traveler-logo
  {
    max-height: 90px;
    width: auto;
    max-width: 90px;
  }
}

@media (max-width:456px) {
  .brand-logo img {
    width: 70% !important;
    height: auto;
  }

  .treasure-mobile {
    left: -50%;
  }
}
