
// Navigation
nav {
  background: transparent url(#{$images-path}top-bar.png) no-repeat 100% 100%;
  background-size: cover;
  height: 95px;
  box-shadow: none;
  padding: 0 10%;
  color: $primary-color;

  a {
    color: $primary-color;
    font-weight: 700;
    font-size: 1.2rem;
  }

  ul{
    a {
      @extend a;
      margin-top: -5px;
    }

    a.active {
      color: $link-active;
    }

    a:hover {
      background-color: transparent;
      color: $link-hover;
    }

    a.active:hover {
      @extend a:hover;
    }
  }

  .dropdown-button {
    height: 50px;
  }
}

.side-nav a.logo:hover {
  background-color: transparent;
  color: $link-hover;
}

.side-nav {
  a {
    font-size: 1.3rem;
    font-weight: bold;
  }

  a.active {
    background-color: rgba(0,0,0,0.2);
    color: $primary-color;
  }

  a:hover {
    @extend a.active;
  }
}


// Nav dropdown
.nav-login {
  position: relative;
}

.dropdown-content {
  overflow: visible;
}

.caret:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 33%;
  border-bottom: 10px solid #ffffff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  z-index: -1;
}

nav .button-collapse {
  margin-top: -5px;
}
