body, html {
  background: url(#{$images-path}green-bg.jpg) no-repeat center center;
  background-color: #1f3705;
  background-size: cover !important;
  font-family: "Source Sans Pro", sans-serif;
  height: auto;
  min-height: 100%;
  position: fixed;
  width: 100%;
}

// Navigation
nav {
  background: transparent url(#{$images-path}top-bar.png) no-repeat 100% 100%;
  background-size: cover;
  height: 110px;
  box-shadow: none;
  padding: 0 10px;
  color: #1f3705;
}

nav ul a, nav a {
  color: #1f3705;
  font-weight: 700;
  font-size: 1.2rem;
}

nav ul a.active {
  color: #668809;
}

nav ul a:hover {
  background-color: transparent;
  color: #84b405;
}

nav ul a.active:hover {
  background-color: transparent;
  color: #84b405;
}

nav .button-collapse {
  top: 5%;
}

.brand-logo {
  top: 6%;
}

// Main container
.container {
  padding-top: 25px;
  color: #ffe7ca;
}

// Nav dropdown
.nav-login i.right {
  position: relative;
}