body, html {
  background: url(#{$images-path}green-bg.jpg) no-repeat center center fixed;
  background-color: $primary-color;
  background-size: cover !important;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  height: auto;
  min-height: 100%;
  width: 100%;
}

// Navigation
nav {
  background: transparent url(#{$images-path}top-bar.png) no-repeat 100% 100%;
  background-size: cover;
  height: 110px;
  box-shadow: none;
  padding: 0 10%;
  color: $primary-color;
}

nav ul a, nav a {
  color: $primary-color;
  font-weight: 700;
  font-size: 1.2rem;
}

nav ul a.active {
  color: $link-active;
}

nav ul a:hover, nav ul a.active:hover, .side-nav a.logo:hover {
  background-color: transparent;
  color: $link-hover;
}

nav .button-collapse {
  top: 5%;
}

.brand-logo {
  top: 6%;
}

.side-nav a {
  font-size: 1.3rem;
  font-weight: bold;
}
.side-nav a.active, .side-nav a:hover {
  background-color: rgba(0,0,0,0.2);
  color: $primary-color;
}

// Nav dropdown
.nav-login {
  position: relative;
}
nav .dropdown-button {
  height: 50px;
}
.dropdown-content {
  overflow: visible;
}
.caret:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 66%;
  border-bottom: 10px solid #ffffff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  z-index: -1;
}

.link-alt {
  color: $link-alt;
}
.link-alt:hover {
  color: $link-alt-hover;
}

// Main container
.container {
  color: $font-color;
  font-size: 1.1rem;
  padding-top: 50px;
}

// Pages
.page-title {
  font-family: "lumberjackregular", "Source Sans Pro", sans-serif;
  font-size: 5rem;
  margin-bottom: 0;
}
.page-sub-title {
  font-size: 1.2rem;
  font-weight: 900;
  position: relative;
  top: -20px;
}
.page-hr {
  border: 1px solid $font-color;
  position: relative;
  top: -20px;
}

// Login - mobile
.login {
  background-color: white;
  padding-bottom: 10px !important;
}