body {
  background-color: $primary-color;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}

input, textarea {
  color: #000;
}

.home-bg, .bg {
  background: url(#{$images-path}green-bg.jpg) no-repeat center center fixed;
  background-size: cover !important;
  height: auto;
  min-height: 100%;
  width: 100%;
}

.link-alt {
  color: $link-alt;
}
.link-alt:hover {
  color: $link-alt-hover;
}

.hidden {
  display: none;
}

// Main container
.container {
  color: $font-color;
  font-size: 1.1rem;
  padding-top: 50px;
}

// Pages
.page-title, .page-title-2 {
  font-family: "lumberjackregular", "Source Sans Pro", sans-serif;
  font-size: 5rem;
  font-weight: normal;
  margin-bottom: 0;
}
  .page-title-2 {
    font-size: 4.5rem;
  }

.page-sub-title, .page-sub-title-2, .page-sub-title-3 {
  position: relative;
  top: -20px;
}
  .page-sub-title-2, .page-sub-title-3 {
    font-family: "Source Sans Pro", sans-serif;
  }
  .page-sub-title {
    font-size: 1.2rem;
    font-weight: 900;
  }
  .page-sub-title-2 {
    font-size: 2rem;
    font-weight: bold;
  }
  .page-sub-title-3 {
    font-size: 1.5rem;
    font-weight: 900;
  }

.page-hr {
  border: 1px solid $font-color;
  position: relative;
  top: -20px;
}

// How it works
.browser-default {
  padding-left: 6%;
}

// History
.rotate-cw-90 img {
  transform: rotate(90deg);
  margin: 50px 0 0 20px;
}
.rotate-180 img {
  transform: rotate(180deg);
}

.page-numbers-large, .page-numbers-med {
  font-family: "lumberjackregular", "Source Sans Pro", sans-serif;
  font-size: 8rem;
  font-weight: normal;
}
.page-numbers-med {
  font-size: 6rem;
}

// collapsible
.table-collapsible-header {
  background-color: #8c6a40 !important;
  margin-bottom: -24px;
  cursor: pointer;
}

.table-collapsible-content {
  margin-top: 24px;
}

.arrow .material-icons {
  transform: rotate(90deg);
}

.card-title {
  color: $primary-color;
}