body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}

input, textarea {
  color: #000;
}

strong { font-weight: bold; }

.home-bg, .bg {
  background: $primary-color url(#{$images-path}green-bg.jpg) no-repeat center center fixed;
  background-size: cover !important;
  min-height: 100%;
  width: 100%;
}

.link-alt {
  color: $link-alt;
}

.link-alt:hover {
  color: $link-alt-hover;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

// Main container
.container {
  color: $font-color;
  font-size: 1.1rem;
  padding-top: 50px;
}

// Pages
.page-title {
  font-family: "lumberjackregular", "Source Sans Pro", sans-serif;
  font-size: 5rem;
  font-weight: normal;
  margin-bottom: 0;
}

.page-title-2 {
  @extend .page-title;
  font-size: 4.5rem;
}

.page-sub-title {
  font-size: 1.2rem;
  font-weight: 900;
  position: relative;
  top: -20px;
}
.page-sub-title-2 {
  @extend .page-sub-title;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
}
.page-sub-title-3 {
  @extend .page-sub-title-2;
  font-size: 1.5rem;
  font-weight: bold;
}

.page-hr {
  border: 1px solid $font-color;
  position: relative;
  top: -20px;
}

// How it works
.browser-default {
  padding-left: 6%;
}

// History
.rotate-cw-90 img {
  transform: rotate(90deg);
  margin: 50px 0 0 20px;
}
.rotate-180 img {
  transform: rotate(180deg);
}

.page-numbers-large {
  font-family: "lumberjackregular", "Source Sans Pro", sans-serif;
  font-size: 8rem;
  font-weight: normal;
}
.page-numbers-med {
  @extend .page-numbers-large;
  font-size: 6rem;
}

// Collapsible Table
.table-collapsible-header {
  background-color: #8c6a40 !important;
  margin-bottom: -24px;
  cursor: pointer;
}

.table-collapsible-content {
  margin-top: 24px;
}

.arrow .material-icons {
  transform: rotate(90deg);
}

#rc-imageselect, .g-recaptcha {
  display: inline-block;
}
