html, body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  height: 100%;
  width: 100%;
}

main {
  background-color: color("robin-hood-secondary", "accent-1");;
  padding-top: 10px;
  min-height: 100%;
}

main, footer {
  padding-left: 240px;
}
