
// Navigation
nav {
  background-color: #FFFFFF;

  a {
  }

  ul{
    a {
      @extend a;
    }

    a.active {
      //color: $link-active;
    }

    a:hover {
      background-color: transparent;
      //color: $link-hover;
    }

    a.active:hover {
      @extend a:hover;
    }
  }

  .dropdown-button {
    height: 50px;
  }
}

.side-nav a.logo:hover {
  background-color: transparent;
}

.side-nav {
  a {
    font-size: 1.3rem;
    font-weight: bold;
  }

  a.active {
    background-color: rgba(0,0,0,0.2);
    color: $primary-color;
  }

  a:hover {
    @extend a.active;
  }
}


// Nav dropdown
.nav-login {
  position: relative;
}

// material icon margin
.material-icons {
  color: #000;
}

.side-nav li > a > i.material-icons {
  margin: 0 10px 0 0;
}

.side-nav li.side-nav-inline {
  text-align: center;
  margin: 8px 0 0 0;
}

.side-nav.fixed a.inline {
  display: inline-block;
  padding: 0 20px;
}

.side-nav li.side-nav-inline i.material-icons {
  margin: 0;
}
